PORT=2000
MONGO_URI=mongodb://localhost:27017/e-queue-hospital

ACCESS_TOKEN_KEY=danggg-access
ACCESS_TOKEN_TIME=24h
REFRESH_TOKEN_KEY=danggg-refresh
REFRESH_TOKEN_TIME=30d

SMTP_PORT=465
SMTP_HOST=smtp.gmail.com
SMTP_USER=azizbekmirzavaliyev31@gmail.com
USER_EMAIL=azizbekmirzavaliyev31@gmail.com  #OTP va tasdiqlov habari keladigan email
SMTP_PASS=kfulmnhuplwmgsiz